.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.idea/
.vscode/
.git/
outputs/
*.md
.gitignore
assets/fonts/**/*.zip
assets/fonts/**/web/
assets/fonts/**/extras/otf/
assets/fonts/**/extras/woff-hinted/
assets/fonts/**/*.ttc
